



@media (min-width: 1025px) {

    .size-h1{
        font-size: 45px !important;
        line-height: 60px;
      }
    
}

#button-home{
  margin: 20px;
  letter-spacing: 20px;
  font-size: 20px;
}

.filter-video {
  filter: brightness(80%) saturate(120%) hue-rotate(200deg);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Isso mantém a proporção e corta o vídeo para cobrir completamente o elemento */
}

@media (min-width: 1000px) {
    .banner {
        padding: 1000px 0px 0px;
        background-color: var(--theme-bg);
        position: relative;
        overflow: hidden;
        z-index: 1;
        height: 100vh;
       
        
      }

      
}

@media (min-width: 414px) {
  .banner {
      padding: 850px 0px 0px;
      background-color: var(--theme-bg);
      position: relative;
      overflow: hidden;
      z-index: 1;
      height: 100vh;
      
    }
    #button-home{
      margin: 10px;
      letter-spacing: 10px;
      font-size: 13px;
      
      
    }
}

.video-container1{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video-container1 video{
  width: 100%;
  height: 100%;
  object-fit: cover;

}





.center {
  
  height: 60px;
  position: absolute;
}

.btn1 {
  max-width: 180px;
  width: 100%;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  padding: 15px 20px 15px 20px !important;

  
}

.btn1 span {
  text-wrap: nowrap;
  text-align: center;
  
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn1:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn1:hover svg {
  stroke-dashoffset: -480;
}

.btn1 span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

@media (max-width: 1200px) {
  .btn1{
    display: none;
  }
}

@media (max-width: 2000px) {
  .button-acess{
    display: none;
  }
}

@media (max-width: 1399px){
  .primary-navbar .navbar__item button,
.primary-navbar .navbar__item a {
 font-size: 11px;
  }
}

@media (max-width: 991px){
  .unlock .unlock__thumb{
    display: none;
  }
}

