



@media (min-width: 1025px) {

    .size-h1{
        font-size: 45px !important;
        line-height: 60px;
      }
    
}
.titlebg {
  text-align: center; /* Alinha o texto horizontalmente ao centro */
  display: flex;
  


}

#button-home{
  margin: 20px;
  letter-spacing: 20px;
  font-size: 20px;
}

.filter-video {
  filter: brightness(80%) saturate(120%) hue-rotate(200deg);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Isso mantém a proporção e corta o vídeo para cobrir completamente o elemento */
}

@media (min-width: 1000px) {
    .banner {
        padding: 1000px 0px 0px;
        background-color: var(--theme-bg);
        position: relative;
        overflow: hidden;
        z-index: 1;
        height: 100vh;
       
        
      }

      
}

@media (min-width: 414px) {
  .banner {
      padding: 850px 0px 0px;
      background-color: var(--theme-bg);
      position: relative;
      overflow: hidden;
      z-index: 1;
      height: 100vh;
      
    }
    #button-home{
      margin: 10px;
      letter-spacing: 10px;
      font-size: 13px;
      
      
    }
}

.video-container1{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video-container1 video{
  width: 100%;
  height: 100%;
  object-fit: cover;

}





.center {
  
  height: 60px;
  position: absolute;
}

.btn1 {
  max-width: 180px;
  width: 100%;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  padding: 15px 20px 15px 20px !important;

  
}

.btn1 span {
  text-wrap: nowrap;
  text-align: center;
  
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn1:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn1:hover svg {
  stroke-dashoffset: -480;
}

.btn1 span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

@media (max-width: 1200px) {
  .btn1{
    display: none;
  }
}

@media (min-width: 1200px) {
  .button-acess{
    display: none;
  }
}

@media (max-width: 1399px){
  .primary-navbar .navbar__item button,
.primary-navbar .navbar__item a {
 font-size: 11px;
  }
}

@media (max-width: 991px){
  .unlock .unlock__thumb{
    display: none;
  }
}

.align-quads {
  height: 20px !important;
}

.container2 {
  max-width: 90% !important;
}

.logomar{
  margin-right: 20%;
}

.area{
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 999;
  top: 40%;
  right: 5%;
  bottom: 0;
}

.text-area{
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 999;
  top: 40%;
  right: 83%;
  bottom: 0;
}

.text-area1{
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 999;
  top: 50%;
  right: 83%;
  bottom: 0;
}

.area button{
  margin: 0 10px;
  border-radius:3px;
  border: 1px solid #28a7fc;
  padding: 10px 15px;
  color: #28a7fc;
  background-color:transparent;
  cursor:pointer;
}
.area button:hover{
  border: 1px solid white;
  color: white;
}

/** Here comes the chart*/
.chart{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #222;
  overflow: hidden;
  box-shadow: 5px 5px 30px #6083e9;
}

.chart .radio_chart{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
  position:absolute;
  
}

.chart .radio_chart.animate{
  animation-name: circled;
  animation-duration: 1s;
  animation-timing-function: linear;
  -moz-animation-name: circled;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: circled;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  background: #6083e9;



}

.chart .cap{
  border-top: #666 3px solid;
  border-left: #666 2px solid;
  position:absolute;
  width: 100%;
  height: 100%;
  
  transform: scale(.8);
  
  background-color: #333;
  margin: 0 auto;
  border-radius:50%;
  
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  
}

.chart .value{
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 120%;
  top: 50%;
  position: absolute;
  text-shadow: -2px -2px 5px #9a28fc, 2px 2px 5px #9a28fc, 0 0 50px #9a28fc;
}

/* The animation based on an hexagon
* its make the radial anim effet
*/
@keyframes circled {
    0%   {
       clip-path: polygon(100% 0, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 50% 50%);
    }
    25%  {
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%);
    }
    50%{
       clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 100%, 0 100%, 50% 50%);
    }
    75%  {
       clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%, 0 0, 50% 50%);
    }
    100% {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%);
    }
}
@-webkit-keyframes circled {
    0%   {
       -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 50% 50%);
    }
    25%  {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%);
    }
    50%{
       -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 100%, 0 100%, 50% 50%);
    }
    75%  {
       -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%, 0 0, 50% 50%);
    }
    100% {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%);
    }
}
@-moz-keyframes circled {
    0%   {
       clip-path: polygon(100% 0, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 50% 50%);
    }
    25%  {
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%);
    }
    50%{
       clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 100%, 0 100%, 50% 50%);
    }
    75%  {
       clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%, 0 0, 50% 50%);
    }
    100% {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%);
    }
}